@{
    this.ViewData["Title"] = "Conversation";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="hero-wrap js-fullheight" style="background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-pink-purple-romantic-love-background-design-backgroundlove-backgroundholiday-backgroundmarch-image_70042.jpg);" data-stellar-background-ratio="0.5">
        <div id="colorlib-main">
            <section class="ftco-section-2">
                <div class="photograhy">
                    <div class="row no-gutters">
                        <div class="col-md-3">
                            <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(images/image_1.jpg);">
                                <div class="overlay"></div>
                                <div class="text text-center">
                                    <h3>Work 01</h3>
                                    <span>Technology</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(images/image_2.jpg);">
                                <div class="overlay"></div>
                                <div class="text text-center">
                                    <h3>Work 02</h3>
                                    <span>Nature</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(images/image_3.jpg);">
                                <div class="overlay"></div>
                                <div class="text text-center">
                                    <h3>Work 03</h3>
                                    <span>Fashion</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(wwwroot/images/image_4.jpg);">
                                <div class="overlay"></div>
                                <div class="text text-center">
                                    <h3>Work 04</h3>
                                    <span>Travel</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(images/image_5.jpg);">
                                <div class="overlay"></div>
                                <div class="text text-center">
                                    <h3>Work 05</h3>
                                    <span>Travel</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(images/image_6.jpg);">
                                <div class="overlay"></div>
                                <div class="text text-center">
                                    <h3>Work 06</h3>
                                    <span>Travel</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(images/image_7.jpg);">
                                <div class="overlay"></div>
                                <div class="text text-center">
                                    <h3>Work 07</h3>
                                    <span>Fashion, Model</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(images/image_8.jpg);">
                                <div class="overlay"></div>
                                <div class="text text-center">
                                    <h3>Work 08</h3>
                                    <span>Nature</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(images/image_9.jpg);">
                                <div class="overlay"></div>
                                <div class="text text-center">
                                    <h3>Work 09</h3>
                                    <span>Technology</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(images/image_10.jpg);">
                                <div class="overlay"></div>
                                <div class="text text-center">
                                    <h3>Work 10</h3>
                                    <span>Model</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(images/image_11.jpg);">
                                <div class="overlay"></div>
                                <div class="text text-center">
                                    <h3>Work 11</h3>
                                    <span>Fashion</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="#" class="photography-entry img d-flex justify-content-center align-items-center" style="background-image: url(images/image_12.jpg);">
                                <div class="overlay"></div>
                                <div class="text text-center">
                                    <h3>Work 12</h3>
                                    <span>Photography</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div><!-- END COLORLIB-MAIN -->
    </div><!--BACKGROUND END-->

</body>
</html>